<!DOCTYPE html>
<html>
<head>
	<title>首頁</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>
	<div class="container">
		<div class="sidebar">
			<nav class="menu">
				<ul>
					<li class="item"><a href="#announcement"><img src="images/icon/noti.png">最新公告</a></li>
					<li class="item"><a href="#cooperation"><img src="images/icon/cooperation.png">合作廠商</a></li>
					<li class="item"><a href="#job"><img src="images/icon/job.png">目前職缺</a></li>
					<li class="item"><a href="#download"><img src="images/icon/download.png">表單下載</a></li>
					<li class="item"><a href="#contact"><img src="images/icon/about.png">關於我們</a></li>
				</ul>
				<hr/>
				<ul>
					<li class="function"><a href="#top" class="top"><img src="images/icon/top.png"> BACK TO TOP</a></li>
					<li class="function"><a href="#join"><img src="images/icon/login.png"> JOIN US</a></li>
				</ul>
			</nav>
		</div>
		<div class="hamburger">MENU</div>
		<div class="wrapper">
			<div class="header">
				<h2 class="pulse animated">Intern's website</h2>
			</div>
			<div class="announcement">
				<a id="announcement"></a>
				<h1>最新公告</h1><hr>
				<h3>ANNOUNCEMENT</h3>
			</div>
			<div class="cooperation">
				<a id="cooperation"></a>
				<h1>合作廠商</h1><hr>
				<h3>ENTERPRISES</h3>
				<div class="list">
					<marquee direction="right" height="200" width="100%" scrollamount="4" behavior="alternate" align="top">
						<img src="images/test1.png">
						<img src="images/test2.jpeg">
						<img src="images/test3.png">
						<img src="images/test4.jpeg">
						<img src="images/test5.jpeg">
						<img src="images/test6.png">
						<img src="images/test7.png">
						<img src="images/test8.jpeg">
						<img src="images/test9.png">
						<img src="images/test10.jpeg">
					</marquee>
					<marquee direction="left" height="200" width="100%" scrollamount="4" behavior="alternate" align="top">
						<img src="images/test1.png">
						<img src="images/test2.jpeg">
						<img src="images/test3.png">
						<img src="images/test4.jpeg">
						<img src="images/test5.jpeg">
						<img src="images/test6.png">
						<img src="images/test7.png">
						<img src="images/test8.jpeg">
						<img src="images/test9.png">
						<img src="images/test10.jpeg">
					</marquee>
				</div>
				<a><button type="submit">MORE</button></a>
			</div>
			<!-- <div class="job">
				<a id="job"></a>
				<h1>目前職缺</h1><hr>
				<h3>JOB  OPENING</h3>
			</div> -->
			<div class="download">
				<a id="download"></a>
				<h1>表單下載</h1><hr>
				<h3>DOWNLOAD</h3>
			</div>
			<div class="join">
				<a id="join"></a>
				<h1>加入我們</h1><hr>
				<h3>JOIN US</h3>
				<div class="user">
					<a href="register.html">
						<figure>
							<i class="fa fa-user fa-4x" aria-hidden="true"></i>
							<figcaption>
								<p>REGISTER</p>
								<h5>註冊</h5>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="user">
					<a href="login.html">
						<figure>
							<i class="fa fa-sign-in fa-4x" aria-hidden="true"></i>
							<figcaption>
								<p>LOG IN</p>
								<h5>登入</h5>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="contact">
				<a id="contact"></a>
				<h1>關於我們</h1><hr>
				<h3>ABOUT  US</h3>
				<div class="position">
					LOCATION
				</div>
				<a href="https://www.google.com.tw/maps/place/404%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80%E4%B8%89%E6%B0%91%E8%B7%AF%E4%B8%89%E6%AE%B5129%E8%99%9F/@24.1500284,120.6817751,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d68cf636721:0x2cf20a8bd0c9630b!8m2!3d24.1500235!4d120.6839638?hl=zh-TW" target="_blank">
					<div class="map">
						404 台中巿三民路三段129號
					</div>
				</a>
				<div class="message">
					TEL：(04)2219-6310 <br/>E-Mail：im@nutc.edu.tw
				</div>
				<div class="info">
					INFOMATION
				</div>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
			</div>
			<div class="footer">
				Copyright &copy; 2017
			</div>
		</div>
	</div>
	<script src="jquery/jquery-3.2.1.js"></script>
	<script src="jquery/jquery-3.2.1.min.js"></script>
	<script src="jquery/index.js"></script>
	<script src="https://use.fontawesome.com/47c3283935.js"></script>
</body>
</html>