<!DOCTYPE html>
<html>
<head>
	<title>忘記密碼</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/login.css">
</head>
<body>
	<div class="container">
		<div class="sidebar">
			<nav class="menu">
				<ul>
					<li class="item"><a href="#announcement">訊息公告</a></li>
					<li class="item"><a href="#cooperation">合作廠商</a></li>
					<li class="item"><a href="#job">目前職缺</a></li>
					<li class="item"><a href="#download">表單下載</a></li>
					<li class="item"><a href="#contact">關於我們</a></li>
				</ul>
				<hr/>
				<ul>
					<li class="function"><a href="#top" class="top"><i class="fa fa-arrow-up" aria-hidden="true"></i> BACK TO TOP</a></li>
					<li class="function"><a href="#join"><i class="fa fa-user" aria-hidden="true"></i> JOIN US</a></li>
				</ul>
			</nav>
		</div>
		<div class="hamburger">MENU</div>
		<div class="wrapper"">
			<div class="form">
				<span class="log">F</span><span class="in">ORGET</span>
				<div class="col">      
					<input type="text" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>E-Mail</label>
				</div>

				<div class="col">
					<button type="submit">送出</button>
				</div>
			</div>
			<div class="footer">
				Copyright &copy; 2017
			</div>
		</div>
	</div>
	<script src="jquery/jquery-3.2.1.js"></script>
	<script src="jquery/jquery-3.2.1.min.js"></script>
	<script src="jquery/index.js"></script>
	<script src="https://use.fontawesome.com/47c3283935.js"></script>
</body>
</html>