<!DOCTYPE html>
<html>
<head>
	<title>註冊</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/login.css">
</head>
<body>
	<div class="container">
		<div class="sidebar">
			<nav class="menu">
				<ul>
					<li class="item"><a href="#announcement">訊息公告</a></li>
					<li class="item"><a href="#cooperation">合作廠商</a></li>
					<li class="item"><a href="#job">目前職缺</a></li>
					<li class="item"><a href="#download">表單下載</a></li>
					<li class="item"><a href="#contact">關於我們</a></li>
				</ul>
				<hr/>
				<ul>
					<li class="function"><a href="#top" class="top"><i class="fa fa-arrow-up" aria-hidden="true"></i> BACK TO TOP</a></li>
					<li class="function"><a href="#join"><i class="fa fa-user" aria-hidden="true"></i> JOIN US</a></li>
				</ul>
			</nav>
		</div>
		<div class="hamburger">MENU</div>
		<div class="wrapper">
			<div class="form">
				<span class="log">R</span><span class="in">EGISTER</span>
				<div role="tabpanel" class="tab">
					<ul id="myTabs" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active" style="width:50%;text-align:center;"><a href="#student" aria-controls="student" role="tab" data-toggle="tab">校內註冊</a></li>
						<li role="presentation" style="width:50%;text-align:center;"><a href="#enterprise" aria-controls="enterprise" role="tab" data-toggle="tab">企業註冊</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="student">
							<div class="col">      
								<p>身份別</p>
								<select name="u_status" id='Su_status' class="data">
									<option value="0">老師</option>
									<option value="1">學生</option>
								</select>
							</div>
							<div class="col">
								<input type="text" required name="account" id='Saccount' class="data" >
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>帳號(請輸入學號或學校信箱)</label>
							</div>
							<div class="col">
								<input type="password" required name="password" id='Spassword' class="data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>密碼(請輸入6~20字元)</label>
							</div>
							<div class="col">      
								<input type="password" required name="conf_pass" id='Sconf_pass' class="data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>確認密碼</label>
							</div>
							<div class="col">      
								<input type="text" required name="u_name" id='Su_name' class="data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>姓名</label>
							</div>
							<div class="col">      
								<input type="text" required name="u_tel" id='Su_tel' class="data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>電話</label>
							</div>
							<div class="col">
								<button type="submit">註冊</button>
								<a href="login.html"><button type="submit">去登入</button></a>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="enterprise">
							<div class="col">      
								<input type="text" required name="account" id='Eaccount' class="data" >
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>帳號</label>
							</div>
							<div class="col">      
								<input type="password" required name="password" id='Epassword' class="data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>密碼</label>
							</div>
							<div class="col">      
								<input type="password" required name="conf_pass" id='Econf_pass' class="data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>確認密碼</label>
							</div>
							<div class="col">      
								<input type="text" required name="u_name" id='Eu_name' class="data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>公司名稱</label>
							</div>
							<div class="col">      
								<input type="text" required name="u_tel" id='Eu_tel' class="u_tel data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>公司電話</label>
							</div>
							<div class="col">      
								<input type="text" required name="email" id='Eemail' class="data">
								<span class="highlight"></span>
								<span class="bar"></span>
								<label>E-Mail</label>
							</div>
							<div class="col">
								<button type="submit">註冊</button>
								<a href="login.html"><button type="submit">去登入</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				Copyright &copy; 2017
			</div>
		</div>
	</div>
	<script>
		$('#myTabs a').click(function(e) {
			e.preventDefault()
			$(this).tab('show')
		})
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		})
	</script>
	<script src="https://use.fontawesome.com/47c3283935.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="jquery/index.js"></script>
</body>
</html>