*{
	font-family: Arial,Microsoft Jhenghei;
	margin:0px;
	padding: 0px;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
.container{
	width: 100%;
}
.sidebar{
	width: 12.5%;
	height: 100%;
	background-color: #fcc506;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;
}
.menu{
	width: 12.5%;
	position: fixed;
	bottom: 30px;
}
.hamburger{
	/*width: 20px;
	height: 80px;*/
	padding: 10px 10px 8px 8px;
	background-color: #fcc506;
	color: #221814;
	top: 0;
	left: 0;
	position: fixed;
	writing-mode: vertical-lr;
	font-size: 20px;
	letter-spacing: 4px;
	font-weight: bold;
	border-bottom-right-radius: 22px;
	display: none;
}
.item{
	list-style: none;
}
.item a{
	padding: 14px 40px 14px 14px;
	color: #221814;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 3px;
	display: inline-block;
	transition: 0.5s;
}
.item a:hover{
	color: #fcc506;
	transition: 0.5s;
}
.item:hover{
	background-color: #221814;
	transition: 0.5s;
}
.item:hover a{
	color: #fcc506;
	opacity: 0.8;
	transition: 0.5s;
}
.item a img{
	width: auto;
	height: 25px;
	margin-right: 10px;
}
.function img{
	width: auto;
	height: 20px;
	margin-right: 8px;
}
hr{
	width: 90%;
	border-style: solid;
	color: #fff;
	margin: 7px auto;
}
.function{
	padding-top:10px;
	padding-left: 14px;
	width: 100%;
	float: left;
	list-style: none;
	line-height: 1.2;
	font-size: 14px;
	font-weight: bold;
}
.function i{
	margin-right: 5px; 
	font-size: 20px;
}
.function a{
	color: #221814;
}
.wrapper{
	width: 87.5%;
	float: right;
}
.header{
	width: 100%;
	height: 500px;
	background-image: url(../images/header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	border-bottom: 60px solid #4e4e4e;
}
.header h2{
	padding: 10% 0px 0px 12%;
	color: #fff;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 3px;
	animation:pulse 1.5s;
	-moz-animation:pulse 1.5s; /* Firefox */
	-webkit-animation:pulse 1.5s; /* Safari and Chrome */
	-o-animation:pulse 1.5s; /* Opera */
	animation-iteration-count:infinite;

}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.pulse {
	animation-name: pulse;
}
h1{
	color: #191919;
	letter-spacing: 3px;
	margin: 60px 0px 0px 0px;
}
h3{
	color: #191919;
	letter-spacing: 1.5px;
	margin: 5px 0px 50px 0px;
}
.wrapper hr{
	color: #fcc506;
	width: 200px;
}
button{
	margin-top: 40px;
	margin-bottom: 60px;
	width: 175px;
	height: 65px;
	background-color: #000;
	color: #fff;
	border: none;
	font-size: 22px;
	letter-spacing: 5px;
}
button:hover{
	color: #fcc506;
	opacity: 0.9;
}
.announcement{
	padding-top: 30px;
	text-align: center;
	padding-bottom: 50px;
}
.cooperation{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.list{
	width: 100%;
}
.list img{
	margin: 35px;
	width: 12%;
	height: auto;
}
.job{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.resume{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.report{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.score{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.download{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.join{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.contact{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.contact a{
	color: #000;
}
.position{
	width: 35%;
	height: 90px;
	padding-top: 60px;
	margin-left: 15%;
	background-color: #333;
	color: #fff;
	float: left;
	letter-spacing: 4px;
	line-height: 2;
}
.map{
	width: 35%;
	height: 90px;
	padding-top: 60px;
	margin-right: 15%;
	background-color: #fff;
	float: left;
	line-height: 2;
}
.map:hover{
	background-color: #ececec;
	opacity: 0.5;
	transition: 0.8s;
}
.message{
	width: 35%;
	height: 100px;
	padding-top: 50px;
	margin-left: 15%;
	margin-bottom: 50px;
	background-color: #fff;
	float: left;
	line-height: 2;
}
.info{
	width: 35%;
	height: 90px;
	padding-top: 60px;
	margin-right: 15%;
	margin-bottom: 50px;
	background-color: #333;
	color: #fff;
	float: left;
	letter-spacing: 4px;
	line-height: 2;
}
.user{
	width: 50%;
    margin: 10px 0px 20px 0px;
	float: left;
	text-align: center;
}
/*3D box*/
figure {
	margin: 20px auto; 
	height: 6.5em;
	width: 14em;
	padding: 1.2em 0px;
	line-height: 1.5;
	background-color: #222;
	-webkit-transform: perspective(500);
	-webkit-transform-style: preserve-3d;
	-webkit-transition: .5s;
}
figure i{
	margin-top: 20px;
	color: #fff;
}
figure:hover {
	-webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}
figcaption {
	padding: 2em;
	background-color: #111;
	color: #fff;
	-webkit-transform: rotateX(-90deg);
	-webkit-transform-origin: 100% 0;
	-webkit-transition: .5s;
}
figcaption p{
	padding: 2px 0px;
	font-size: 20px;
	letter-spacing: 2.5px;
	font-weight: normal;
	font-weight: bold;
	border-bottom: 2px solid #fcc506;
}
figcaption h5{
	padding: 2px 0px;
	font-size: 20px;
	letter-spacing: 12px;
	font-weight: normal;
	font-weight: bold;
}
figure:hover figcaption {
	box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
}
.footer{
	height: 50px;
	text-align: center;
	background-color: #393939;
	color: #fff;
	line-height: 4.5;
	letter-spacing: 2px;
	font-size: 12px;
	clear: both;
}
@media screen and (max-width: 1280px){
	.sidebar{
		width: 16%;
	}
	.menu{
		width: 16%;
	}
	.wrapper{
		width: 84%;
	}
}
@media screen and (max-width: 1200px){
	.sidebar{
		width: 17%;
	}
	.menu{
		width: 17%;
	}
	.wrapper{
		width: 83%;
	}
}
@media screen and (max-width: 1024px){
	.sidebar{
		width: 17.5%;
	}
	.menu{
		width: 17.5%;
	}
	.wrapper{
		width: 82.5%;
	}
}
@media screen and (max-width: 988px){
	.sidebar{
		width: 18.5%;
	}
	.menu{
		width: 18.5%;
	}
	.wrapper{
		width: 81.5%;
	}
	.item a{
		font-size: 15px;
	}
	.item a img{
		height: 20px;
	}
	.function img{
		height: 18px;
		margin-right: 6px;
	}
	h1{
		font-size: 30px;
	}
	.header h2{
		font-size: 40px;
	}
	button{
		width: 150px;
		height: 50px;
		font-size: 18px;
	}
}
@media screen and (max-width: 876px){
	.sidebar{
		width: 19.5%;
	}
	.menu{
		width: 19.5%;
	}
	.wrapper{
		width: 80.5%;
	}
	.item a{
		font-size: 14px;
	}
	.item a img{
		height: 18px;
	}
	.function img{
		height: 16px;
		margin-right: 5px;
	}

	h1{
		font-size: 26px;
	}
	.header h2{
		font-size: 36px;
	}
	button{
		width: 138px;
		height: 40px;
		font-size: 15px;
	}
}
@media screen and (max-width: 768px){
	.sidebar{
		width: 19.5%;
	}
	.menu{
		width: 19.5%;
	}
	.wrapper{
		width: 80.5%;
	}
	.item a img{
		margin-right: 6px;
	}
}
@media screen and (max-width: 750px){
	.sidebar{
		width: 150px;
		height: 100%;
		background-color: #fcc506;
		position: fixed;
		top: 0;
		left: -150px;
		z-index: 1000;
	}
	.menu{
		width: 150px;
		position: fixed;
		bottom: 30px;
	}
	.wrapper{
		width: 100%;
		float: right;
	}
	.burger{
		display: block;
	}
}