*{
	font-family: Arial,Microsoft Jhenghei;
	margin:0px;
	padding: 0px;
	
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
	color: #000;
}
a:visited{
	text-decoration: none;
}
.container{
	width: 100%;
	padding:0px;
}
.sidebar{
	width: 12.5%;
	height: 100%;
	background-color: #fcc506;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;
}
.menu{
	width: 12.5%;
	position: fixed;
	bottom: 30px;
}
.hamburger{
	/*width: 20px;
	height: 80px;*/
	padding: 10px 10px 8px 8px;
	background-color: #fcc506;
	color: #221814;
	top: 0;
	left: 0;
	position: fixed;
	writing-mode: vertical-lr;
	font-size: 20px;
	letter-spacing: 4px;
	font-weight: bold;
	border-bottom-right-radius: 22px;
	display: none;
}
.item{
	list-style: none;
}
.item a{
	padding: 14px 40px 14px 14px;
	color: #221814;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 3px;
	display: inline-block;
	transition: 0.5s;
}
.item a:hover{
	color: #fcc506;
	transition: 0.5s;
}
.item:hover{
	background-color: #221814;
	transition: 0.5s;
}
.item:hover a{
	color: #fcc506;
	opacity: 0.8;
	transition: 0.5s;
}
hr{
	width: 90%;
	border-style: solid;
	color: #fff;
	margin: 7px auto;
}
.function{
	padding-top:10px;
	padding-left: 14px;
	width: 100%;
	float: left;
	list-style: none;
	line-height: 1.2;
	font-size: 14px;
	font-weight: bold;
}
.function i{
	margin-right: 5px; 
	font-size: 20px;
}
.function a{
	color: #221814;
}
.wrapper{
	width: 87.5%;
	float: right;
}
.header{
	width: 100%;
	height: 500px;
	background-image: url(../images/header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	border-bottom: 60px solid #4e4e4e;
}
.header h2{
	padding: 10% 0px 0px 12%;
	color: #fff;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 3px;
	animation:pulse 1.5s;
	-moz-animation:pulse 1.5s; /* Firefox */
	-webkit-animation:pulse 1.5s; /* Safari and Chrome */
	-o-animation:pulse 1.5s; /* Opera */
	animation-iteration-count:infinite;

}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.pulse {
	animation-name: pulse;
}
h1{
	color: #191919;
	letter-spacing: 3px;
	margin: 60px 0px 0px 0px;
}
h3{
	color: #191919;
	letter-spacing: 1.5px;
	margin: 5px 0px 50px 0px;
}
.wrapper hr{
	color: #fcc506;
	width: 200px;
}
/*.wrapper{
	margin: 230px auto 0px auto;
}*/
/* form */
/*.form{
	width: 300px;
	height: 600px;
	margin:0px auto 70px auto;
	text-align: center;
}*/
#Login{
	width: 300px;
	height: 600px;
	margin:230px auto 70px auto;
	text-align: center;
}
#Register{
	margin-top:-100px;
	width: 300px;
	height: 600px;
	margin:130px auto 170px auto;
	text-align: center;
}
#Password{
	width: 300px;
	height: 600px;
	margin:230px auto 70px auto;
	text-align: center;
}
.form .log{
	color: #fcc506;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.form .in{
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.col{ 
	position:relative; 
	margin-top:25px; 
	margin-bottom: 5px;
/*	float: left;*/
}
/*驗證碼*/

.col img{
	margin: 1px 0px 0px 0px;
}
/*.col*/ p{
	/*	width: 80px;*/
	color: #999;
	font-size: 18px;
	text-align: left;
	/*	text-align-last: justify;*/
}
.col select{
	margin-top: 5px;
	width: 300px;
	height: 30px;
	font-size:16px;
	background-color: #fff;
}
.col a{
	padding-top: 10px;
	color: #222;
	letter-spacing: 3px;
}
.col button{
	width: 80px;
	height: 40px;
	background-color: #000;
	color: #fff;
	border: none;
	font-size: 14px;
	letter-spacing: 3px;/*新改*/
}
.col button:hover{
	color: #fcc506;
	opacity: 0.9;
}
/*.col button a{
	color: #fff;
	line-height:40px;
}
.col button a:hover{
	color: #fcc506;
	}*/
	input{
		font-size:16px;
		padding:8px 0px 9px 0px;
		display:block;
		width:300px;
		border:none;
		border-bottom:1px solid #757575;
	}
	input:focus{ 
		outline:none; 
	}

	/* LABEL */
	label{
		/*	width: 180px;*/
		text-align: justify;
		text-align-last: justify;
		color:#999; 
		font-size:18px;
		font-weight:normal;
		position:absolute;
		pointer-events:none;
		left:5px;
		top:10px;
		transition:0.2s ease all; 
		-moz-transition:0.2s ease all; 
		-webkit-transition:0.2s ease all;
	}

	/* active state */
	input:focus ~ label, input:valid ~ label{
		/*	width: 160px;*/
		top:-20px;
		font-size:16px;
		color:#fcc506;
	}

	/* BOTTOM BARS */
	.bar{ 
		position:relative; 
		display:block; 
		width:300px; 
	}
	.bar:before, .bar:after{
		content:'';
		height:2px; 
		width:0;
		bottom:1px; 
		position:absolute;
		background:#fcc506; 
		transition:0.2s ease all; 
		-moz-transition:0.2s ease all; 
		-webkit-transition:0.2s ease all;
	}
	.bar:before {
		left:50%;
	}
	.bar:after {
		right:50%; 
	}

	/* active state */
	input:focus ~ .bar:before, input:focus ~ .bar:after {
		width:50%;
	}

	/* HIGHLIGHTER */
	.highlight {
		position:absolute;
		height:60%; 
		width:100px; 
		top:25%; 
		left:0;
		pointer-events:none;
		opacity:0.5;
	}

	/* active state */
	input:focus ~ .highlight {
		-webkit-animation:inputHighlighter 0.3s ease;
		-moz-animation:inputHighlighter 0.3s ease;
		animation:inputHighlighter 0.3s ease;
	}

	/* ANIMATIONS */
	@-webkit-keyframes inputHighlighter {
		from{ 
			background:#fcc506; 
		}
		to{ 
			width:0; background:transparent; 
		}
	}
	@-moz-keyframes inputHighlighter {
		from{ 
			background:#fcc506; 
		}
		to{ 
			width:0; background:transparent; 
		}
	}
	@keyframes inputHighlighter {
		from{ 
			background:#fcc506; 
		}
		to{ 
			width:0; background:transparent; 
		}
	}
	.footer{
		height: 50px;
		text-align: center;
		background-color: #393939;
		color: #fff;
		line-height: 4.5;
		letter-spacing: 2px;
		font-size: 12px;
	}
	@media screen and (max-width: 1280px){
		.sidebar{
			width: 16%;
		}
		.menu{
			width: 16%;
		}
		.wrapper{
			width: 84%;
		}
	}
	@media screen and (max-width: 1200px){
		.sidebar{
			width: 17%;
		}
		.menu{
			width: 17%;
		}
		.wrapper{
			width: 83%;
		}
	}
	@media screen and (max-width: 1024px){
		.sidebar{
			width: 17.5%;
		}
		.menu{
			width: 17.5%;
		}
		.wrapper{
			width: 82.5%;
		}
	}
	@media screen and (max-width: 988px){
		.sidebar{
			width: 18.5%;
		}
		.menu{
			width: 18.5%;
		}
		.wrapper{
			width: 81.5%;
		}
		.item a{
			font-size: 15px;
		}
		.item a img{
			height: 20px;
		}
		.function img{
			height: 18px;
			margin-right: 6px;
		}
		h1{
			font-size: 30px;
		}
		.header h2{
			font-size: 40px;
		}
		button{
			width: 150px;
			height: 50px;
			font-size: 18px;
		}
	}
	@media screen and (max-width: 876px){
		.sidebar{
			width: 19.5%;
		}
		.menu{
			width: 19.5%;
		}
		.wrapper{
			width: 80.5%;
		}
		.item a{
			font-size: 14px;
		}
		.item a img{
			height: 18px;
		}
		.function img{
			height: 16px;
			margin-right: 5px;
		}

		h1{
			font-size: 26px;
		}
		.header h2{
			font-size: 36px;
		}
		button{
			width: 138px;
			height: 40px;
			font-size: 15px;
		}
	}
	@media screen and (max-width: 768px){
		.sidebar{
			width: 19.5%;
		}
		.menu{
			width: 19.5%;
		}
		.wrapper{
			width: 80.5%;
		}
		.item a img{
			margin-right: 6px;
		}
	}
	@media screen and (max-width: 750px){
		.sidebar{
			width: 150px;
			height: 100%;
			background-color: #fcc506;
			position: fixed;
			top: 0;
			left: -150px;
			z-index: 1000;
		}
		.menu{
			width: 150px;
			position: fixed;
			bottom: 30px;
		}
		.wrapper{
			width: 100%;
			float: right;
		}
		.burger{
			display: block;
		}
	}